.hero_page{
    height: fit-content;
    width: auto;
    text-align: center;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    border: 2px solid red;
    /* justify-content: center; */
    align-items: center;
    background-image: url("galen-crout-GVVRHcmd__I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.hero_title{
    font-size: 60px;
}
.hero_btn{
    width: fit-content;
    font-size: large;
}
.feature_section{
    width: 90%;
    /* border: 2px solid blue; */
    margin: 50px auto;

}
.card_container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;
    /* align-items: flex-end; */
    /* align-content: space-evenly; */
}
.card{
    /* border: 1px solid red; */
    text-align: center;
    width: 20%;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.303);
    transition-duration: 0.3s;
}

.card:hover{
    color: white;
    background-color: green;
}
.service-section{
    width: 80%;
    margin: 50px auto;
    /* height: 50vh; */
    /* border: 1px solid blue; */
    
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-image{
    /* background-color: aqua; */
    /* border: 1px solid green; */
}
.service-image img{
    width: 100%;
}
.service-info{
    padding: 50px;
    /* border: 1px solid red; */
}   
.servie-title{
    list-style: none;
    font-size: 40px;
}
.servie-feature li{
    font-size: 20px;
    margin: 20px 0;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: 50px 50px; */
    border: 1px solid red;
    padding:20px ;
    padding-right: 20px;
    gap: 20px;
    background-color: rgba(72, 70, 70, 0.958);
    color: white;
}
.main-link{
    font-size: 30px;
}
.main-link p{
    font-size: 15px;
}
.main-link a, .page-link a, .social-link a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
}